<template>
  <div>
    <menuu></menuu>
    <div class="container">

      <h3 class="text-center"><i class="em em-moneybag"></i> Gastos</h3>
      <div class="row text-center bg-light pt-5 pb-5">

        <div class="col-3 offset-2">
          <h6>Nome do custo</h6>
          <div class="input-group">

            <input type="text" v-validate="'required'" name="nome" placeholder="Nome" v-model="custo.nome" class="form-control">
          </div>
          <small class="text-danger">{{ errors.first('nome') }}</small>
        </div>

        <div class="col-3">
          <h6>Valor do custo</h6>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">R$</span>
            </div>
            <input type="number" v-validate="'required'" name="custo" v-model="custo.valor" class="form-control">
          </div>
          <small class="text-danger">{{ errors.first('custo') }}</small>
        </div>

        <div class="col-3">
          <button v-if="update" class="btn btn-outline-success btn-lg float-left mt-4" @click="atualizar">
                                          <i class="em em---1"></i>
                                          </button>
          <button v-else class="btn btn-outline-success btn-lg float-left mt-4" @click="adicionar">
                                          <i class="em em---1"></i>
                                          </button>
        </div>

      </div>

      <div class="row" v-if="loading">
        <div class="col text-center">
          <span><div class="loader"></div></span>
        </div>
      </div>

      <div class="mb-5" v-else>

        <h4 v-if="lista.length <= 0" class="text-center text-muted m-5">nenhum gasto cadastrado</h4>

        <table v-else class="table text-center mt-2">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Valor</th>
              <th>Ações</th>
            </tr>

          </thead>
          <tbody>
            <tr v-for="(item, index) in lista">
              <td>{{item.nome}}</td>
              <td>{{item.valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</td>
              <td>
                <button @click="buscarPorId(item.id)" type="button" class="btn btn btn-outline-secondary btn-sm"><i class="em em-hammer_and_wrench"></i></button>
                <button @click="excluir(item.id)" type="button" class="btn btn-outline-danger btn-sm"><i class="em em--1"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <fuuter></fuuter>
  </div>
</template>

<script>
import Menuu from "../Menuu";
import Fuuter from "../Footer";
import _custos from "../../services/custos";

export default {
  components: {
    Menuu,
    Fuuter
  },
  data() {
    return {
      update: false,
      loading: false,
      custo: {
        nome: "",
        valor: ""
      },
      lista: []
    };
  },
  mounted() {
    if (this.$route.params.id) {
      this.update = true;
      this.buscarPorId(this.$route.params.id);
    }
    this.buscar();
  },
  methods: {
    buscar() {
      this.loading = true;

      _custos.buscar().then(
        response => {
          this.loading = false;

          this.lista = response.body;
        },
        response => {
          this.$toasted
            .error("Não foi possivel buscar o ingrediente!")
            .goAway(3000);
          this.loading = false;
        }
      );
    },
    adicionar() {
      this.$validator.validate().then(result => {
        if (!result) return;

        this.loading = true;

        _custos.cadastro(this.custo).then(
          response => {
            this.loading = false;
            this.$toasted.success("Salvo com sucesso!").goAway(3000);

            this.buscar();
          },
          response => {
            this.$toasted
              .error("Não foi possivel salvar o ingrediente!")
              .goAway(3000);
            this.loading = false;
          }
        );
      });
    },
    excluir(id) {
      this.loading = true;

      _custos.excluir(id).then(
        response => {
          this.loading = false;
          this.buscar();
          this.$toasted.success("Excluido com sucesso!").goAway(3000);
        },
        response => {
          this.$toasted.error("Não foi Excluir o ingrediente!").goAway(3000);
          this.loading = false;
        }
      );
    },
    atualizar() {
      this.$validator.validate().then(result => {
        if (!result) return;

        this.loading = true;

        _custos.atualizar(this.custo).then(
          response => {
            this.loading = false;
            this.$toasted.success("Salvo com sucesso!").goAway(3000);
            this.update = false;
            this.buscar();
          },
          response => {
            this.$toasted
              .error("Não foi possivel atualizar o custo!")
              .goAway(3000);
            this.loading = false;
          }
        );
      });
    },
    buscarPorId(id) {
      this.update = true;
      this.loading = true;
      _custos.buscarPorId(id).then(
        response => {
          this.loading = false;
          this.custo = response.body;
        },
        response => {
          this.$toasted
            .error("Não foi possivel buscar ingrediente!")
            .goAway(3000);
          this.loading = false;
        }
      );
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
