<style scoped>

</style>

<template>
  <div>
    <div class="container">
      <div class="row">

        <div class="col-sm offset-3 mt-0">
          <div class="card" style="width: 30rem;">

            <div class="card-header bg-white">

              <h5 class="text-center"> Cadastre-se</h5>

            </div>

            <div class="card-body p-5">

                <form>

                  <div class="form-group">
                    <input type="email" v-model="user.email" class="form-control form-control-sm" v-validate="'required|email'" name="email" placeholder="Email">
                    <small class="text-danger">{{ errors.first('email') }}</small>
                  </div>
                  <div class="form-group">
                    <input v-model="user.senha" class="form-control form-control-sm" v-validate="'required|min:5'" name="senha" type="password" placeholder="Senha" ref="senha">
                    <small class="text-danger" v-if="errors.has('senha')">
                          {{ errors.first('senha') }}
                        </small>
                  </div>
                  <div class="form-group">
                    <input class="form-control form-control-sm" v-validate="'required|confirmed:senha'" name="password_confirmation" type="password" placeholder="Confirmação de senha" data-vv-as="confirmaçao de senha">
                    <small class="text-danger" v-if="errors.has('password_confirmation')">
                          {{ errors.first('password_confirmation') }}
                        </small>
                  </div>

                </form>
                <span v-if="loading"><div class="loader"></div></span>
                <div class="text-center" v-else>

                  <button @click="cadastro" class="btn btn-outline-secondary btn-sm">Cadastrar</button>
                  <router-link to="/" class="btn btn-outline-success btn-sm">já possui uma conta?</router-link>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import _usuario from "../../services/usuario";

  export default {
    data() {
      return {
        loading: false,
        user: {
          id: "",
          email: "",
          senha: ""

        }
      };
    },
    mounted() {},
    methods: {
      cadastro() {
        this.$validator.validate().then(result => {
          if (!result)
            return;

          this.loading = true;

          _usuario.cadastro(this.user).then(
            response => {
              this.loading = false;
              this.$toasted.success("Cadastrado com sucesso!").goAway(2000);

              localStorage.setItem("user", JSON.stringify(response.body));

              this.$router.push({
                path: "home"
              });
            },
            response => {
              if (response.body.erro)
                this.$toasted.error(response.body.erro).goAway(5000);
              else
                this.$toasted.error("Não foi possivel cadastrar").goAway(5000);

              this.loading = false;
            }
          );
        });
      }
    }
  };
</script>
