<style scoped>

</style>

<template>
  <div>
    <div class="container">
      <div class="row">

        <div class="col-sm offset-3 mt-0">
          <div class="card" style="width: 30rem;">
            <div class="card-header bg-white">

              <h5 class="text-center">Bem vindo ao LIGHT</h5>

            </div>

            <div class="card-body p-5">
              <div class="text-center">
                <div class="form-group">
                  <input type="email" v-model="user.email" class="form-control form-control-sm" v-validate="'required|email'" name="email" placeholder="Email">
                  <small class="text-danger">{{ errors.first('email') }}</small>
                </div>
                <div class="form-group">
                  <input v-model="user.senha" class="form-control form-control-sm" v-validate="'required|min:5'" name="senha" type="password" placeholder="Senha" ref="senha">
                  <small class="text-danger" v-if="errors.has('senha')">
                                                      {{ errors.first('senha') }}
                                                    </small>
                </div>
                <span v-if="loading"><div class="loader"></div></span>
                <div v-else>

                  <button @click="login" class="btn btn-outline-secondary btn-sm">Entrar</button>
                  <router-link to="/cadastro" class="btn btn-outline-success btn-sm">Novo por aqui?</router-link>

                </div>
              </div>
            </div>
            <div class="card-footer text-center bg-white">
              <router-link to="/recuperarSenha">não lembra sua senha?</router-link>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</template>

<script>
  import _usuario from "../../services/usuario";
  import Vue from "vue";

  export default {
    data() {
      return {
        loading: false,
        user: {
          id: "",
          nome: "",
          email: "",
          senha: ""
        }
      };
    },
    mounted() {},
    methods: {
      login() {
        this.$validator.validate().then(result => {
          if (!result) {
            return;
          }

          this.loading = true;

          _usuario.login(this.user).then(
            response => {
              this.loading = false;
              this.$toasted.success("Logado com sucesso!").goAway(3000);

              localStorage.setItem("user", JSON.stringify(response.body));

              this.$router.push({
                path: '/home'
              });
            },
            response => {
              this.loading = false;

              if (response.body.erro)
                this.$toasted.error(response.body.erro).goAway(5000);
              else
                this.$toasted.error("Usuário ou senha errada").goAway(5000);
            }
          );
        });
      }

    }
  };
</script>
