<style scoped>

</style>

<template>
  <div>
    <div class="container">
      <div class="row">

        <div class="col-sm offset-3 mt-0">
          <div class="card" style="width: 30rem;">

            <div class="card-body p-5">
              <div class="text-center">
                <h5 class=""><i class="em em-closed_lock_with_key"></i> Recuperar senha</h5>
                <small>insira seu e-mail e enviaremos uma nova senha de acesso</small>
                <div class="form-group">
                  <input type="email" v-model="user.email" class="form-control form-control-sm" v-validate="'required|email'" name="email" placeholder="Email">
                  <small class="text-danger">{{ errors.first('email') }}</small>
                </div>

                <span v-if="loading"><div class="loader"></div></span>
                <button v-else @click="recuperar" class="btn btn-outline-secondary btn-sm">Recuperar</button>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import _usuario from "../../services/usuario";
  import Vue from "vue";

  export default {
    data() {
      return {
        loading: false,
        user: {
          id: "",
          nome: "",
          email: "",
          senha: ""
        }
      };
    },
    mounted() {},
    methods: {
      recuperar() {
        this.$validator.validate().then(result => {
          if (!result)
            return;

          this.loading = true;

          _usuario.recuperar(this.user).then(
            response => {
              this.loading = false;

              this.$toasted.success("<i class='em em-email'></i>").goAway(5000);
              this.$toasted.success("Verifique a caixa de entrada do seu e-mail").goAway(15000);

              this.$router.push({
                path: '/'
              });

            },
            response => {
              this.$toasted.error("falha ao enviar!").goAway(3000);
              this.loading = false;
            }
          );
        });
      }

    }
  };
</script>
