<template>
  <div>
    <menuu></menuu>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h1 class="text-center text-muted">Bem vindo ao <b>LIGHT</b></h1>
          <h4 class="text-center mt-5 text-muted">O app que vai facilitar sua vida e alegrar seu bolso!</i></h4>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-8 offset-3">
          <p><i class="em em-apple"></i> <b>Gerencie suas receitas de forma fácil</b></p>
          <p><i class="em em-alien"></i> <b>Nunca mais fique perdido com as quantidades e ingredientes certos</b> </p>
          <p><i class="em em-heartbeat"></i> <b>Controle de maneira eficiente os custos das suas receitas</b> </p>
          <p><i class="em em-money_mouth_face"></i> <b>Defina metas de vendas e saiba quantas receitas precisa para alcançar sua metas!</b></p>
          <p><i class="em em-bread"></i> <b>Saiba quanto você gasta por unidade do seu ingrediente</b></p>
          <p><i class="em em-clap"></i> <b>Tudo isso em um só lugar!</b></p>
        </div>
      </div>
    </div>
    <fuuter></fuuter>
  </div>
</template>

<script>
  import Menuu from "../Menuu";
  import Fuuter from "../Footer";

  export default {
    components: {
      Menuu,
      Fuuter
    },
    data() {
      return {};
    },
    mounted() {

    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
