<template>
  <div>
    <div class="fixed-bottom bg-white text-center">
      <p class="text-muted"> <router-link to="home" class="text-muted">LIGHT - 2018</router-link></p>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {};
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
