<template>
  <div>
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <button class="btn btn-outline-secondary" @click="openNav()"><i class="em em-male-cook"></i> menu</button>
          </li>

        </ul>
      </div>
      <div class="mx-auto order-0">
        <h2 class="text-center text-muted">LIGHT</h2>
      </div>

      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

              <i class="em em-bust_in_silhouette"></i> <i class="em em-closed_lock_with_key"></i>
            </a>
            <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink" style="right: 10px; left:70em">
              <span class="dropdown-header">{{user.email}}</span>
              <a class="dropdown-item" data-toggle="modal" data-target="#trocarSenha" href="#">trocar senha</a>
              <a class="dropdown-item" href="#" @click.prevent="logout">sair</a>
            </div>

          </li>

        </ul>
      </div>

    </nav>
    <div class="modal fade" id="trocarSenha" tabindex="-1" role="dialog" aria-labelledby="trocarSenhaLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><i class="em em-adult"></i> trocar senha</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>

          </div>
          <div class="modal-body">
            <p><b>{{user.email}}</b></p>
            <small>nova senha:</small>
            <div class="form-group">
              <input v-model="user.novaSenha" class="form-control form-control-sm" v-validate="'required|min:5'" name="senha" type="password" placeholder="Senha" ref="senha">
              <small class="text-danger" v-if="errors.has('senha')">
                                    {{ errors.first('senha') }}
                                  </small>
            </div>
            <div class="form-group">
              <input class="form-control form-control-sm" v-validate="'required|confirmed:senha'" name="password_confirmation" type="password" placeholder="Confirmação de senha" data-vv-as="confirmaçao de senha">
              <small class="text-danger" v-if="errors.has('password_confirmation')">
                                    {{ errors.first('password_confirmation') }}
                                  </small>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" @click="trocarSenha" class="btn btn-outline-success"><i class="em em---1"></i></button>
          </div>
        </div>
      </div>
    </div>


    <div id="menu-lateral" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" @click="closeNav()">&times;</a>
      <router-link class="nav-link" to="/home"><i class="em em-male-cook"></i> Inicio</router-link>
      <router-link class="nav-link" to="/lista-ingredientes"><i class="em em-bread"></i> Ingredientes</router-link>
      <router-link class="nav-link" to="/lista-receitas"><i class="em em-doughnut"></i> Receitas</router-link>
      <router-link class="nav-link" to="/cadastro-custos"><i class="em em-moneybag"></i> Gastos</router-link>
      <router-link class="nav-link" to="/execucao"><i class="em em-fire"></i> Execução</router-link>
      <router-link class="nav-link" to="/analise-custo"><i class="em em-chart_with_upwards_trend"></i> Análise</router-link>
    </div>

  </div>
</template>

<script>
  import _usuario from "../services/usuario";

  export default {
    data() {
      return {
        user: {
          id: "",
          novaSenha: ""
        }
      };
    },
    mounted() {
      this.user = JSON.parse(localStorage.getItem("user"));
    },

    methods: {

      logout() {
        this.$toasted.success("Deslogado!").goAway(2000);

        localStorage.removeItem("user");

        this.$router.push({
          path: "/"
        });
      },

      trocarSenha() {
        this.$validator.validate().then(result => {
          if (!result) return;

          var model = {
            Id: this.user.id,
            Senha: this.user.novaSenha
          };

          _usuario.trocarSenha(model).then(
            response => {
              this.$toasted.success("senha alterada!").goAway(2000);
              $("#trocarSenha").hide();
              $(".modal-backdrop").hide();
            },
            response => {
              $("#trocarSenha").hide();
              $(".modal-backdrop").hide();
              this.$toasted.error("não foi possivel alterar!").goAway(2000);
            }
          );
        });
      },
      openNav() {
        document.getElementById("menu-lateral").style.display = "block";
      },

      closeNav() {
        document.getElementById("menu-lateral").style.display = "none";
      }
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
