<template>
  <div>
    <menuu></menuu>
    <div class="container">

      <div class="row">
        <div class="col-4 p-2">
          <input-search placeholder="Busque seus ingredientes" :lista="lista" @resultado="buscaIngrediente" />
        </div>
        <div class="col-4 text-center">
          <h3><i class="em em-bread"></i> Ingredientes</h3>
        </div>
        <div class="col-4 text-center p-2">
          <router-link to="/novo-ingrediente" class="btn btn-outline-secondary"><i class="em em-man_dancing"></i> Novo ingrediente</router-link>
        </div>
      </div>

      <div class="row" v-if="loading">
        <div class="col text-center">
          <span><div class="loader"></div></span>
        </div>
      </div>

      <div v-else>

        <h4 v-if="lista.length <= 0" class="text-center text-muted m-5">nenhum ingrediente cadastrado</h4>

        <div v-else class="row mt-4 mb-5">
          <div class="col-sm">

            <table class="table text-center">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Quantidade</th>
                  <th>Preço de compra</th>
                  <th>Preço por unidade</th>
                  <th>Ações</th>
                </tr>

              </thead>
              <tbody>
                <tr v-for="item in lista">
                  <td>{{item.nome}}</td>
                  <td>{{item.quantidade}} {{item.unidadeMedida}}</td>
                  <td>{{item.preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</td>
                  <td>{{item.precoUnidade.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}} por {{conversaoUnidade(item.unidadeMedida)}}</td>

                  <td>
                    <router-link :to="{ name: 'novoIngredienteId', params: { id: item.id } }" class="btn btn btn-outline-secondary btn-sm"><i class="em em-hammer_and_wrench"></i></router-link>
                    <button @click="excluir(item.id)" type="button" class="btn btn-outline-danger btn-sm"><i class="em em--1"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

    <fuuter></fuuter>
  </div>
</template>

<script>
  import Menuu from "../Menuu";
  import Fuuter from "../Footer";
  import _ingredientes from "../../services/ingredientes";
  import InputSearch from "../Receita/InputSearch";

  export default {
    components: {
      Menuu,
      Fuuter,
      InputSearch
    },

    data() {
      return {
        loading: false,
        lista: []
      };
    },
    mounted() {
      this.buscar();
    },
    computed: {},
    methods: {
      buscaIngrediente(item) {
        this.$router.push({
          name: 'novoIngredienteId',
          params: {
            id: item.id
          }
        })
      },
      conversaoUnidade(item) {
        if (item == 'G') return 'grama';

        if (item == 'ML') return 'miliLitro';

        if (item == 'L') return 'litro';

        if (item == 'KG') return 'quilo';

        if (item == 'UND.') return 'unidade';
      },
      buscar() {
        this.loading = true;

        _ingredientes.buscar().then(
          response => {
            this.loading = false;

            this.lista = response.body;
          },
          response => {
            this.$toasted
              .error("Não foi possivel buscar o ingrediente!")
              .goAway(3000);
            this.loading = false;
          }
        );
      },

      excluir(id) {
        this.loading = true;

        _ingredientes.excluir(id).then(
          response => {
            this.loading = false;
            this.buscar();
            this.$toasted.success("Excluido com sucesso!").goAway(3000);
          },
          response => {
            if (response.body)
              this.$toasted.error(response.body).goAway(3000);
            else
              this.$toasted.error("não foi possivel excluir o item").goAway(3000);

            this.loading = false;
          }
        );
      }
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
