<template>
  <div>
    <menuu></menuu>
    <div class="container">

      <div class="row">
        <div class="col-4 offset-4">
          <h3 class="text-center"><i class="em em-bread"></i> novo ingrediente</h3>
        </div>
        <div class="col-4 text-center p-2">
          <button v-if="update" type="button" class="btn btn-lg btn-outline-success" @click="atualizar()"><i class="em em---1"></i></button>
          <button v-else type="button" class="btn btn-lg btn-outline-success" @click="salvar()"><i class="em em---1"></i></button>
          <router-link to="/lista-ingredientes" class="btn btn-lg btn-outline-secondary"><i class="em em--1"></i></router-link>
        </div>
      </div>

      <div v-if="loading" class="row mb-4">
        <div class="col text-center">
          <span><div class="loader"></div></span>
        </div>
      </div>


      <div v-else class="row text-center bg-light pt-5 pb-5">

        <div class="col-4 offset-1">
          <label>Nome Ingrediente</label>
          <input v-model="ingrediente.nome" type="text" class="form-control" placeholder="Nome" v-validate="'required'" name="nome">
          <small class="text-danger">{{ errors.first('nome') }}</small>
        </div>
        <div class="col-3">
          <label>Quantidade comprada</label>

          <div class="input-group">
            <input type="number" placeholder="0.00" v-model="ingrediente.quantidade" v-validate="'required'" name="quantidade" class="form-control">
            <div class="input-group-append">

              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-quantidade" data-toggle="dropdown">
                                              {{ingrediente.unidadeMedida}}
                                            </button>
              <div class="dropdown-menu" aria-labelledby="dropdown-quantidade">
                <span class="dropdown-item" @click="ingrediente.unidadeMedida = 'L'">litro</span>
                <span class="dropdown-item" @click="ingrediente.unidadeMedida = 'ML'">mililitro</span>
                <span class="dropdown-item" @click="ingrediente.unidadeMedida = 'KG'">quilo</span>
                <span class="dropdown-item" @click="ingrediente.unidadeMedida = 'G'">grama</span>
                <span class="dropdown-item" @click="ingrediente.unidadeMedida = 'UND.'">unidade</span>
              </div>

            </div>
          </div>
          <small class="text-danger">{{ errors.first('quantidade') }}</small>
        </div>

        <div class="col-3">
          <label>Preço de compra</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">R$</span>
            </div>
            <input type="number" v-model="ingrediente.preco" v-validate="'required'" name="preco" class="form-control">
          </div>
          <small class="text-danger">{{ errors.first('preco') }}</small>
        </div>

      </div>

    </div>
    <fuuter></fuuter>
  </div>
</template>

<script>
  import Menuu from "../Menuu";
  import Fuuter from "../Footer";
  import _ingredientes from "../../services/ingredientes";

  export default {
    components: {
      Menuu,
      Fuuter
    },
    data() {
      return {
        loading: false,
        update: false,
        ingrediente: {
          id: "",
          nome: "",
          quantidade: "",
          preco: "",
          unidadeMedida: "G"
        }
      };
    },
    mounted() {
      if (this.$route.params.id) {
        this.update = true;
        this.buscarPorId(this.$route.params.id);
      }
    },
    methods: {
      salvar() {

        this.$validator.validate().then(result => {
          if (!result)
            return;

          this.loading = true;

          _ingredientes.cadastro(this.ingrediente).then(
            response => {
              this.loading = false;
              this.$toasted.success("Salvo com sucesso!").goAway(3000);
              this.$router.push({
                path: "lista-ingredientes"
              });
            },
            response => {
              this.$toasted
                .error("Não foi possivel salvar o ingrediente!")
                .goAway(3000);
              this.loading = false;
            }
          );
        });
      },

      atualizar() {

        this.$validator.validate().then(result => {
          if (!result)
            return;
        });

        this.loading = true;

        _ingredientes.atualizar(this.ingrediente).then(
          response => {
            this.loading = false;
            this.$toasted.success("Salvo com sucesso!").goAway(3000);
            this.$router.push({
              path: "/lista-ingredientes"
            });
          },
          response => {
            this.$toasted
              .error("Não foi possivel salvar o ingrediente!")
              .goAway(3000);
            this.loading = false;
          }
        );
      },
      buscarPorId(id) {

        this.loading = true;
        _ingredientes.buscarPorId(id).then(
          response => {
            this.loading = false;
            this.ingrediente = response.body;
          },
          response => {
            this.$toasted
              .error("Não foi possivel buscar ingrediente!")
              .goAway(3000);
            this.loading = false;
          }
        );
      }
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
