<template>
  <div>
    <menuu></menuu>

    <div class="container">

      <h3 class="text-center"><i class="em em-fire"></i> Execução</h3>

      <div class="row" v-if="loading">
        <div class="col text-center">
          <span><div class="loader"></div></span>
        </div>
      </div>
      <div v-else class="row mt-4 mb-5">
        <div class="col-6">
          <div class="col">
            <div class="card">
              <div class="card-header bg-white">
                <div class="row">
                  <div class="col-6">
                    <h5 class="card-title"><i class="em em-doughnut"></i> receitas</h5>
                  </div>
                  <div class="col-6 text-right">
                    <button class="btn btn-outline-success" @click.prevent="venda">
                              <i class="em em-moneybag"></i>
                            </button>
                  </div>
                </div>
              </div>
              <div class="card-body">

                <div v-if="lista.length < 1">
                  <p class="text-center">sem receitas</p>
                </div>

                <div v-for="item in lista" v-if="item.ativo">
                  <div class="row mt-1">
                    <div class="col-4"><input type="number" v-model="item.quantidadeVendida" value="0" class="form-control form-control-sm" placeholder="Qtd."></div>
                    <div class="col-6"><span>{{item.nome}} </span>
                    </div>

                  </div>
                  <hr>

                </div>

              </div>
            </div>

          </div>
        </div>
        <div class="col-6">

          <div class="row mb-3">

            <div class="col-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><i class="em em-moneybag"></i> custos com receitas no dia</h5>
                  <h3 class="text-danger">{{custoPorDia.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}} </h3>

                </div>
              </div>
            </div>

            <div class="col-6">

              <div class="card">

                <div class="card-body">

                  <h5 class="card-title"><i class="em em-moneybag"></i> total em caixa</h5>
                  <h3 class="text-success">{{totalCaixa.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}} </h3>
                  <button @click="fecharCaixa" :disabled="listaVendidos.length < 1" class="btn btn-outline-success">fechar caixa</button>

                </div>
              </div>
            </div>

          </div>

          <div class="row mb-5">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><i class="em em-rocket"></i> receitas vendidas</h5>

                  <div v-if="listaVendidos.length < 1">
                    <p class="text-center">sem receitas</p>
                  </div>

                  <table v-else class="table text-center">
                    <thead>
                      <tr>
                        <th>Nome da Receita</th>
                        <th>Valor da Venda</th>
                        <th>Ações</th>
                      </tr>

                    </thead>
                    <tbody>
                      <tr v-for="item in listaVendidos">
                        <td>{{item.nomeReceita}} <span class="badge badge-pill badge-success">{{item.quantidadeVendida}}</span></td>
                        <td>{{item.valorVenda.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</td>
                        <td><button @click="excluirVenda(item.id)" type="button" class="btn btn-outline-danger btn-sm"><i class="em em--1"></i></button></td>
                      </tr>

                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>

        </div>


      </div>

    </div>

    <fuuter></fuuter>
  </div>
</template>

<script>
  import Menuu from "../Menuu";
  import Fuuter from "../Footer";
  import _receitas from "../../services/receitas";
  import _vendas from "../../services/vendas";
  import _caixa from "../../services/caixa";

  export default {
    components: {
      Menuu,
      Fuuter
    },
    data() {
      return {
        loading: false,
        lista: [],
        listaVendidos: [],
        vendido: false,
        totalCaixa: 0,
        custoPorDia: 0,
      };
    },
    mounted() {
      this.buscarReceitas();
      this.buscarVendas();
    },
    methods: {
      buscarReceitas() {
        this.loading = true;

        _receitas.buscar().then(
          response => {
            this.loading = false;
            this.lista = response.body.receitas;
            this.custoPorDia = response.body.custoPorDia;
          },
          response => {
            this.$toasted
              .error("Não foi possivel buscar as receitas!")
              .goAway(3000);
            this.loading = false;
          }
        );
      },

      buscarVendas() {
        _vendas.buscar().then(
          response => {
            this.listaVendidos = response.body.vendas;
            this.totalCaixa = response.body.totalVendas;
          },
          response => {
            this.$toasted.error("Não foi possivel buscar a lista!").goAway(3000);
          }
        );
      },
      venda() {

        _vendas.cadastro(this.lista).then(
          response => {

            this.buscarVendas();
            this.buscarReceitas();

            this.$toasted.success("<i class='em em-moneybag'></i>").goAway(3000);
          },
          response => {
            this.$toasted.error("não foi possivel vender").goAway(3000);
            this.loading = false;
          }
        );
      },
      excluirVenda(id) {
        _vendas.excluir(id).then(
          response => {
            this.buscarVendas();
            this.buscarReceitas();
            this.$toasted.success("Excluido com sucesso!").goAway(3000);
          },
          response => {
            if (response.body) this.$toasted.error(response.body).goAway(3000);
            else
              this.$toasted.error("não foi possivel excluir o item").goAway(3000);
          }
        );
      },
      fecharCaixa() {
        var caixa = {
          custoReceitaTotal: this.custoPorDia,
          totalCaixa: this.totalCaixa
        };

        _caixa.cadastro(caixa).then(
          response => {
            this.buscarVendas();
            this.buscarReceitas();

            this.$toasted.success("caixa fechado!").goAway(3000);
          },
          response => {
            this.$toasted.error("Não foi possivel buscar a lista!").goAway(3000);
          }
        );
      }
    }
  };
</script>
