<template>
  <div>
    <menuu></menuu>
    <div class="container m-5">
      <div class="row">
        <div class="col">
          <h1 class="text-center m-5"><i class="em em-cake"></i></h1>
          <h3>Nome: {{receita.nome}}</h3>
          <h3>Preço de venda: R$ {{receita.preco}}</h3>
          <h3>Rendimento por porção: {{receita.numPorcoes}}</h3>

          <h3 class="mt-5">Lista de ingredientes</h3>
          <h3 v-for="(item, index) in receita.listaIngredientes"><i class="em em-bread"></i> {{item.quantidade}} {{item.unidadeMedida}} de {{item.nome}} </h3>
        </div>
      </div>
    </div>
    <fuuter></fuuter>
  </div>
</template>

<script>
  import Menuu from "../Menuu";
  import Fuuter from "../Footer";
  import _ingredientes from "../../services/ingredientes";
  import _receitas from "../../services/receitas";
  import TypeAhead from "vue2-typeahead/src/components/TypeAhead.vue";

  export default {
    components: {
      Menuu,
      Fuuter,
      TypeAhead
    },
    data() {
      return {
        update: false,
        loading: false,
        receita: {
          id: "",
          nome: "",
          preco: "",
          numPorcoes: "",
          listaIngredientes: []
        },
        ingrediente: {},
        ingredientes: []
      };
    },
    computed: {

    },
    mounted() {
      this.buscar();
      if (this.$route.params.id) {
        this.update = true;

        this.buscarPorId(this.$route.params.id)

      }
    },
    methods: {

      print(callback) {
        callback();
      },

      buscar() {
        _ingredientes.buscar().then(
          response => {
            this.ingredientes = response.body;
          },
          response => {
            this.$toasted
              .error("Não foi possivel buscar os ingredientes!")
              .goAway(3000);
            this.loading = false;
          }
        );
      },
      buscarPorId(id) {
        this.loading = true;
        _receitas.buscarPorId(id).then(
          response => {
            this.loading = false;
            this.receita.listaIngredientes = [];
            this.receita = response.body;

            setTimeout(() => {
              window.print();
            }, 2000);

          },
          response => {
            this.$toasted
              .error("Não foi possivel buscar a receita!")
              .goAway(3000);
            this.loading = false;
          }
        );
      },

    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
