<template>
  <div>

    <input type="text" class="form-control" v-model="busca" @keyup="buscar(busca)"
    :placeholder="placeholder" :name="name">

    <div class="card search" v-show="resultado.length > 0">
      <div class="card-body p-0">
        <a v-for="item in resultado" href="#" class="dropdown-item" @click.prevent="adicionar(item)"> <small>{{item.nome}}</small></a>
      </div>
    </div>

  </div>
</template>

<style scoped>
  .search {
    position: absolute;
    z-index: 100;
    top: 3em;
    min-width: 60%;
  }
</style>


<script>
  export default {
    components: {},
    props: {
      lista: Array,
      placeholder: String,
      name: String
    },
    data() {
      return {
        busca: '',
        resultado: [],
        retorno: {},
      };
    },
    computed: {

    },
    mounted() {

    },
    methods: {
      buscar(item) {
        var objects = JSON.parse(JSON.stringify(this.lista));

        if (!item)
          return this.resultado = [];

        this.resultado.forEach(existente => {
          if (existente.nome.indexOf(item) != -1)
            this.resultado = [];
        });

        objects.forEach(element => {
          if (element.nome.indexOf(item) != -1)
            this.resultado.push(element);
        });

      },
      adicionar(item) {

        this.retorno = JSON.parse(JSON.stringify(item));

        this.resultado = [];
        this.busca = '';
        this.$emit('resultado', this.retorno);
        this.retorno = {};
      },
    }
  };
</script>
