<template>
  <div>
    <menuu></menuu>
    <div class="container">
      <div class="row">
        <div class="col-4 p-2">
          <input-search placeholder="Busque suas receitas" :lista="lista" @resultado="buscaReceita" />
        </div>
        <div class="col-4">
          <h3 class="text-center"><i class="em em-doughnut"></i> Receitas</h3>
        </div>
        <div class="col-4 text-center p-2">
          <router-link to="nova-receita" class="btn btn-outline-secondary"><i class="em em-man_dancing"></i> nova receita</router-link>
        </div>
      </div>


      <div class="row" v-if="loading">
        <div class="col text-center">
          <span><div class="loader"></div></span>
        </div>
      </div>

      <div v-else>


        <h4 class="text-center text-muted m-5" v-if="lista.length <= 0">nehuma receita adicionada</h4>

        <div v-else class="row mt-4">
          <div class="col-sm">

            <table class="table text-center">
              <thead>
                <tr>
                  <th>Ativo</th>
                  <th>Nome da Receita</th>
                  <th>Rendimento</th>
                  <th>Custo de cada porção</th>
                  <th>Custo da receita</th>
                  <th>Preço de Venda</th>
                  <th>Margem de lucro</th>
                  <th>Ações</th>

                </tr>

              </thead>
              <tbody>
                <tr v-for="(item) in lista">
                  <td>
                    <a href="#" @click.prevent="atualizarAtivo(item)" v-if="item.ativo"><i class="em em-heart"></i></a>
                    <a href="#" @click.prevent="atualizarAtivo(item)" v-else><i class="em em-broken_heart"></i></a>
                  </td>
                  <td>{{item.nome}}</td>
                  <td>
                    {{item.numPorcoes}}
                    <small v-if="item.numPorcoes > 1">Porções</small>
                    <small v-else>Porção</small>
                  </td>
                  <td>{{item.custoPorcao.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</td>
                  <td>{{item.precoCusto.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</td>
                  <td>{{item.preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</td>
                  <td>
                    <b v-if="item.lucro > 0" class="text-success">{{item.lucro}}%</b>
                    <b v-else class="text-danger">{{item.lucro}}%</b>
                  </td>

                  <td>

                    <div class="dropdown show">
                      <a class="btn btn-outline-success btn-sm" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
                        <i class="em em-gear"></i>
                      </a>

                      <div class="dropdown-menu" style="min-width: 4rem !important;" aria-labelledby="dropdownMenuLink">
                        <router-link :to="{ name: 'impressaoReceita', params: { id: item.id } }" target='_blank' class="dropdown-item"><i class="em em-printer"></i></router-link>
                        <router-link :to="{ name: 'novaReceitaId', params: { id: item.id } }" class="dropdown-item"><i class="em em-hammer_and_wrench"></i></router-link>
                        <button type="button" @click="excluir(item.id)" class=" dropdown-item">
                                                                            <i class="em em--1"></i>
                                                                          </button>
                      </div>
                    </div>

                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <fuuter></fuuter>
  </div>
</template>

<script>
  import Menuu from "../Menuu";
  import Fuuter from "../Footer";
  import _receitas from "../../services/receitas";
  import InputSearch from "../Receita/InputSearch";

  export default {
    components: {
      Menuu,
      Fuuter,
      InputSearch
    },
    data() {
      return {
        lista: [],
        loading: false,
        animated: ''
      };
    },
    mounted() {
      this.buscar();
    },
    methods: {
      buscaReceita(item) {
        this.$router.push({
          name: 'novaReceitaId',
          params: {
            id: item.id
          }
        })
      },
      atualizarAtivo(item) {
        item.ativo = !item.ativo;

        var model = {
          Id: item.id,
          Ativo: item.ativo,

        };

        _receitas.atualizarAtivo(model).then(
          response => {
            this.loading = false;
            this.$toasted.success("<i class='em em-heart'></i>").goAway(3000);

          },
          response => {
            this.$toasted
              .error("Não foi possivel salvar o ativo!")
              .goAway(3000);
            item.ativo = !item.ativo;
            this.loading = false;
          }
        );
      },
      buscar() {
        this.loading = true;

        _receitas.buscar().then(
          response => {
            this.loading = false;

            this.lista = response.body.receitas;
          },
          response => {
            this.$toasted
              .error("Não foi possivel buscar a receita!")
              .goAway(3000);
            this.loading = false;
          }
        );
      },
      excluir(id) {
        this.loading = true;

        _receitas.excluir(id).then(
          response => {
            this.loading = false;
            this.buscar();
            this.$toasted.success("Excluido com sucesso!").goAway(3000);
          },
          response => {
            this.$toasted.error("Não foi possivel excluir a receita!").goAway(3000);
            this.loading = false;
          }
        );
      }

    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
