<template>
  <div>
    <menuu></menuu>
    <div class="container">

      <div class="row">

        <div class="col-4 offset-4">
          <h3 class="text-center"><i class="em em-doughnut"></i> nova receita</h3>
        </div>
        <div class="col-4 text-center p-2">
          <button v-if="update" type="button" class="btn btn-lg btn-outline-success" @click="atualizar()"><i class="em em---1"></i></button>
          <button v-else type="button" :disabled="receita.listaIngredientes < 1" class="btn btn-lg btn-outline-success" @click="salvar()"><i class="em em---1"></i></button>
          <router-link to="/lista-receitas" class="btn btn-lg btn-outline-secondary"><i class="em em--1"></i></router-link>
        </div>
      </div>

      <div v-if="loading" class="row mb-4">
        <div class="col text-center">
          <span><div class="loader"></div></span>
        </div>
      </div>

      <div v-else>

        <div class="row mb-3">
          <div class="col">
            <label>Nome</label>
            <input type="text" v-validate="'required'" name="nome" v-model="receita.nome" class="form-control" placeholder="Nome">
            <small class="text-danger">{{ errors.first('nome') }}</small>
          </div>
          <div class="col">
            <label>Preço de venda</label>
            <input type="number" v-validate="'required'" name="preco" v-model="receita.preco" class="form-control" placeholder="Preco">
            <small class="text-danger">{{ errors.first('preco') }}</small>
          </div>
          <div class="col">
            <label>Numero de porções</label>
            <input type="number" v-validate="'required'" name="porcoes" v-model="receita.numPorcoes" class="form-control" placeholder="Num. porcoes">
            <small class="text-danger">{{ errors.first('porcoes') }}</small>
          </div>
        </div>
        <div class="row bg-light pt-5 pb-5">
          <div class="col-4 offset-4">
            <input-search :lista="ingredientes" @resultado="listar" placeholder="busque seus ingredientes" />
          </div>

          <div class="col-12 mt-5">

            <h5 class="text-center text-muted" v-if="receita.listaIngredientes.length <= 0">nenhum ingrediente adicionado</h5>
            <table v-else class="table text-center">
              <thead>
                <tr>
                  <th>Ingrediente</th>
                  <th>Quantidade Utilizada</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in receita.listaIngredientes">
                  <td>{{item.nome}}</td>
                  <td>
                    <div class="col-6 text-center offset-3">
                      <div class="input-group">
                        <input type="number" placeholder="0.00" v-model="item.quantidade" class="form-control form-control-sm">
                        <div class="input-group-append">
                          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{item.unidadeMedida}}
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" v-if="item.unidadeMedida == 'G' || item.unidadeMedida == 'KG'"
                            @click.prevent="item.unidadeMedida ='G'">grama</a>
                             <a class="dropdown-item" href="#" v-if="item.unidadeMedida == 'UND.'"
                            @click.prevent="item.unidadeMedida ='UND.'">unidade</a>
                            <a class="dropdown-item" href="#" v-if="item.unidadeMedida == 'G' || item.unidadeMedida == 'KG'"
                            @click.prevent="item.unidadeMedida ='KG'">quilo</a>
                            <a class="dropdown-item" v-if="item.unidadeMedida == 'L' || item.unidadeMedida == 'ML'"
                            href="#" @click.prevent="item.unidadeMedida ='L'">litro</a>
                            <a class="dropdown-item" v-if="item.unidadeMedida == 'L' || item.unidadeMedida == 'ML'"
                            href="#" @click.prevent="item.unidadeMedida ='ML'">mililitro</a>

                          </div>
                        </div>
                      </div>

                    </div>

                  </td>
                  <td><button @click="excluir(index)" class="btn btn-outline-danger"><i class="em em--1"></i></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <fuuter></fuuter>
  </div>
</template>

<script>
  import Menuu from "../Menuu";
  import Fuuter from "../Footer";
  import _ingredientes from "../../services/ingredientes";
  import _receitas from "../../services/receitas";
  import InputSearch from "./InputSearch.vue";

  export default {
    components: {
      Menuu,
      Fuuter,
      InputSearch
    },
    data() {
      return {
        update: false,
        loading: false,
        receita: {
          id: "",
          nome: "",
          preco: "",
          numPorcoes: "",
          listaIngredientes: [],
          ativo: true,
        },

        ingredientes: [],

      };
    },
    computed: {

    },
    mounted() {
      this.buscar();
      if (this.$route.params.id) {
        this.update = true;
        this.buscarPorId(this.$route.params.id);
      }
    },
    methods: {

      listar(item) {

        var existe = this.receita.listaIngredientes.find(x => x.id === item.id);

        if (!existe)
          this.receita.listaIngredientes = this.receita.listaIngredientes.concat(item);
        else
          existe.quantidade += existe.quantidade;

      },
      buscar() {
        _ingredientes.buscar().then(
          response => {
            this.ingredientes = response.body;
          },
          response => {
            this.$toasted
              .error("Não foi possivel buscar os ingredientes!")
              .goAway(3000);
            this.loading = false;
          }
        );
      },

      atualizar() {
        this.loading = true;

        this.$validator.validate().then(result => {
          if (!result)
            return;

          _receitas.atualizar(this.receita).then(
            response => {
              this.loading = false;
              this.$toasted.success("Salvo com sucesso!").goAway(3000);
              this.$router.push({
                path: "/lista-receitas"
              });
            },
            response => {
              this.$toasted
                .error("Não foi possivel salvar a receita!")
                .goAway(3000);
              this.loading = false;
            }
          );
        });
      },
      salvar() {

        this.$validator.validate().then(result => {
          if (!result)
            return;

          _receitas.cadastro(this.receita).then(
            response => {
              this.loading = true;
              this.$toasted.success("Salvo com sucesso!").goAway(3000);
              this.$router.push({
                path: "/lista-receitas"
              });
            },
            response => {
              this.$toasted
                .error("Não foi possivel salvar a receita!")
                .goAway(3000);
              this.loading = false;
            }
          );
        });
      },
      buscarPorId(id) {
        this.loading = true;
        _receitas.buscarPorId(id).then(
          response => {
            this.loading = false;
            this.receita.listaIngredientes = [];
            this.receita = response.body;
          },
          response => {
            this.$toasted
              .error("Não foi possivel buscar a receita!")
              .goAway(3000);
            this.loading = false;
          }
        );
      },

      excluir(index) {
        this.receita.listaIngredientes.splice(index, 1);
      }
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
