<template>
  <div>
    <menuu></menuu>
    <div class="container">

      <h3 class="text-center"><i class="em em-chart_with_upwards_trend"></i> Análise</h3>

      <div class="row mt-4">
        <div class="col-sm">
          <resumo-grafico/>
        </div>
      </div>

      <h5>Outros Resumos</h5>
      <div class="row mt-4 mb-5">

        <div class="col-8">
          <div class="row">
            <div class="col-6">
              <resumo-custos/>
            </div>
            <div class="col-6">
              <resumo-receita/>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <resumo-caixa/>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col">
              <resumo-meta/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <fuuter></fuuter>
  </div>
</template>

<script>
  import Menuu from "../Menuu";
  import Fuuter from "../Footer";
  import ResumoCustos from "./ResumoCustos";
  import ResumoCaixa from "./ResumoCaixa";
  import ResumoReceita from "./ResumoReceita";
  import ResumoMeta from "./ResumoMeta";
  import ResumoGrafico from "./ResumoGrafico";

  export default {
    components: {
      Menuu,
      Fuuter,
      ResumoCustos,
      ResumoReceita,
      ResumoMeta,
      ResumoCaixa,
      ResumoGrafico
    },
    data() {
      return {};
    },
    mounted() {},
    methods: {

    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
