<template>
  <div>
    <div class="row" v-if="loading">
      <div class="col text-center">
        <span><div class="loader"></div></span>
      </div>
    </div>

    <div v-else class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="em em-moneybag"></i> Custos no estabelecimento</h5>
        <div v-if="messageErro" class="text-center"> {{messageErro}}</div>
        <div v-else>
          <small>Total</small>
          <h6>{{resumoCustos.custoTotal}}</h6>
          <small>Você está gastando mais com:</small>
          <h6>{{resumoCustos.maiorGasto.nome}}</h6>
          <small>seu custo com ele é de:</small>
          <h6>{{resumoCustos.maiorGasto.valor}}</h6>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import _custos from "../../services/custos";

export default {
  components: {},
  data() {
    return {
      loading: false,
      resumoCustos: {
        custoTotal: "",
        maiorGasto: {
          nome: ""
        }
      },
      messageErro: ""
    };
  },
  mounted() {
    this.buscar();
  },
  methods: {
    buscar() {
      this.loading = true;

      _custos.resumoCustos().then(
        response => {
          this.loading = false;
          this.resumoCustos = response.body;

          this.resumoCustos.custoTotal = response.body.custoTotal.toLocaleString(
            "pt-BR",
            { style: "currency", currency: "BRL" }
          );

          this.resumoCustos.maiorGasto = response.body.maiorGasto.toLocaleString(
            "pt-BR",
            { style: "currency", currency: "BRL" }
          );
        },
        response => {
          this.loading = false;
          if (response.body.message) this.messageErro = response.body.message;
          else
            this.$toasted
              .error("Não foi possivel buscar os custos!")
              .goAway(3000);
        }
      );
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
