<template>
  <div>

    <h5>Receitas mais lucrativas</h5>
    <div class="row" v-if="loading">
      <div class="col text-center">
        <span><div class="loader"></div></span>
      </div>
    </div>
    <div v-else>
      <column-chart suffix="%" :data="chartData" :dataset="{backgroundColor: colorData, borderWidth: 0}"></column-chart>
    </div>
  </div>
</template>

<script>
  import _receitas from "../../services/receitas";

  export default {
    components: {},
    data() {
      return {
        loading: false,
        lista: [],
        chartData: [],
        colorData: []
      };
    },
    mounted() {
      this.buscar();
    },
    methods: {
      buscar() {
        this.loading = true;
        _receitas.buscar().then(
          response => {
            this.loading = false;

            this.lista = response.body.receitas;

            this.lista.forEach(item => {
              var modelDataChart = {
                nome: item.nome,
                lucro: item.lucro
              };

              var modelColorChart = {
                success: "#28a745",
                danger: "#dc3545"
              };

              if (modelDataChart.lucro > 0) {
                this.colorData.push(modelColorChart.success);
              } else {
                this.colorData.push(modelColorChart.danger);
              }

              this.chartData.push(Object.values(modelDataChart));
            });
          },
          response => {
            this.$toasted
              .error("Não foi possivel buscar a receita!")
              .goAway(3000);
            this.loading = false;
          }
        );
      }
    }
  };
</script>
