<template>
  <div>
    <div class="row" v-if="loading">
      <div class="col text-center">
        <span><div class="loader"></div></span>
      </div>
    </div>

    <div v-else class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="em em-rocket"></i> Metas</h5>

        <small v-show="lista.length == 0 || update == true">Insira sua meta de vendas aqui</small>
        <div class="input-group" v-show="lista.length == 0 || update == true">
          <input type="number" v-model="meta.valor" class="form-control form-control-sm" placeholder="valor da meta">
          <div class="input-group-append">
            <button v-if="update" @click="atualizar" class="btn btn-outline-secondary btn-sm">Atualizar</button>
            <button v-else @click="adicionar" class="btn btn-outline-secondary btn-sm">adicionar</button>
          </div>
        </div>

        <div class="mt-3" v-for="item in lista">
          <div class="float-left mr-2">
            <h5><a href="#" @click.prevent="buscarPorId(item.id)" class="badge badge-success">{{item.nome}} : {{item.valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</a></h5>
          </div>
          <a href="#" @click.prevent="excluir(item.id)" class="badge badge-danger">excluir</a>
        </div>
        <div class="mt-3">
          <small>Lista de Receitas para bater sua meta de {{resumoMeta.valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</small>
        </div>
        <h6 v-for="item in resumoMeta.listaReceitasMeta"> {{item.quantidadeReceitasBaterMeta}} {{item.nomesReceitasBaterMeta}}
          <a href="#" @click.prevent="ajustarListaMeta(item)" class="badge badge-success">mais</a>
          <a href="#" @click.prevent="diminuirListaMeta(item)" class="badge badge-danger">menos</a>

        </h6>
      </div>
    </div>
  </div>
</template>

<script>
  import _metas from "../../services/metas";

  export default {
    components: {},
    data() {
      return {
        update: false,
        loading: false,
        meta: {
          nome: 'Meta de vendas',
          valor: ''
        },
        resumoMeta: {
          nome: '',
          valor: '',
          quantidadeReceitasBaterMeta: '',
          nomesReceitasBaterMeta: '',
          listaReceitasMeta: [],
        },
        lista: [],
        ativo: true,
      };
    },
    mounted() {
      this.buscar();
    },
    methods: {
      diminuirListaMeta(item) {

        if (item.quantidadeReceitasBaterMeta < 1)
          return;

        //lista de receitas
        var receitas = this.resumoMeta.listaReceitasMeta;

        //valor da meta a ser batida
        var meta = this.resumoMeta.valor;

        //posicao do proximo item que dever ser decrementado
        var proximo = receitas.indexOf(item) + 1;

        if (proximo > receitas.length - 1)
          proximo = 0;

        //pega o valor total da soma das receitas
        var valorTotalReceita = 0;

        receitas.forEach(receita => {
          valorTotalReceita += (receita.precoReceita * receita.quantidadeReceitasBaterMeta);
        });

        if (valorTotalReceita <= meta) {

          receitas[proximo].quantidadeReceitasBaterMeta++;

          this.diminuirListaMeta(item);

        } else {
          var quantidade = item.quantidadeReceitasBaterMeta--;
        }

      },
      ajustarListaMeta(item) {

        //lista de receitas
        var receitas = this.resumoMeta.listaReceitasMeta;

        //valor da meta a ser batida
        var meta = this.resumoMeta.valor;

        //posicao do proximo item que dever ser decrementado
        var proximo = receitas.indexOf(item) + 1;

        if (proximo > receitas.length - 1)
          proximo = 0;

        //pega o valor total da soma das receitas
        var valorTotalReceita = 0;

        if (receitas[proximo].quantidadeReceitasBaterMeta < 1) {
          receitas.splice(proximo, 1);
        }


        receitas.forEach(receita => {
          valorTotalReceita += (receita.precoReceita * receita.quantidadeReceitasBaterMeta);
        });

        if (valorTotalReceita >= meta) {

          var quantidade = receitas[proximo].quantidadeReceitasBaterMeta--;

          this.ajustarListaMeta(item);

        } else {
          item.quantidadeReceitasBaterMeta++;
        }

      },

      buscar() {
        this.loading = true;

        this.buscarResumoMeta();

        _metas.buscar().then(
          response => {
            this.loading = false;

            this.lista = response.body;
          },
          response => {
            this.$toasted
              .error("Não foi possivel buscar suas metas!")
              .goAway(3000);
            this.loading = false;
          }
        );
      },
      adicionar() {
        this.loading = true;

        _metas.cadastro(this.meta).then(
          response => {
            this.loading = false;
            this.$toasted.success("Salvo com sucesso!").goAway(3000);
            this.buscar();
          },
          response => {
            this.$toasted
              .error("Não foi possivel salvar!")
              .goAway(3000);
            this.loading = false;
          }
        );
      },
      excluir(id) {
        this.loading = true;
        this.update = false;

        _metas.excluir(id).then(
          response => {
            this.loading = false;
            this.buscar();
            this.$toasted.success("Excluido com sucesso!").goAway(3000);
          },
          response => {
            this.$toasted.error("Não foi possivel Excluir a meta!").goAway(3000);
            this.loading = false;
          }
        );
      },
      atualizar() {
        this.loading = true;

        _metas.atualizar(this.meta).then(
          response => {
            this.loading = false;
            this.$toasted.success("Salvo com sucesso!").goAway(3000);
            this.update = false;
            this.buscar();
          },
          response => {
            this.$toasted
              .error("Não foi possivel atualizar!")
              .goAway(3000);
            this.loading = false;
          }
        );
      },
      buscarPorId(id) {
        this.update = true;
        this.loading = true;
        _metas.buscarPorId(id).then(
          response => {
            this.loading = false;
            this.meta = response.body;
          },
          response => {
            this.$toasted
              .error("Não foi possivel buscar!")
              .goAway(3000);
            this.loading = false;
          }
        );
      },
      buscarResumoMeta() {
        _metas.resumoMeta().then(
          response => {
            this.resumoMeta = response.body;
          },
          response => {
            this.$toasted
              .error("Não foi possivel buscar os resumos!")
              .goAway(3000);
          }
        );
      }
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
