<template>
  <div>
    <div class="row" v-if="loading">
      <div class="col text-center">
        <span><div class="loader"></div></span>
      </div>
    </div>

    <div v-else class="card">
      <div class="card-header bg-white">

        <div class="row">
          <div class="col-4">
            <h5 class="card-title mt-3"><i class="em em-moneybag"></i> caixas</h5>
          </div>

          <div class="col-8 float-right">

            <div class="row">
              <div class="col-4">
                <small class="text-muted">do dia</small>
                <date-picker :class="errorData ?'form-control form-control-sm border border-danger':'form-control form-control-sm'" v-model="dateInicio" :config="options"></date-picker>
              </div>
              <div class="col-4">
                <small class="text-muted">até o dia</small>
                <date-picker :class="errorData ?'form-control form-control-sm border border-danger':'form-control form-control-sm'" v-model="dateFim" :config="options"></date-picker>

              </div>
              <div class="col-4">

                <div class="mt-4">

                  <button @click.prevent="buscarPorData" class="btn btn-outline-success">filtrar</button>
                  <button @click.prevent="buscar" class="btn btn-outline-danger"> <span aria-hidden="true">&times;</span></button>
                </div>
              </div>
              <div class="col-8 text-center">
                <p v-show="errorData"><small class="text-danger"> {{errorData}}  </small></p>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="card-body">

        <div v-if=" lista.length < 1">
          <p class="text-center">sem caixas fechados</p>
        </div>
        <table v-else class="table text-center">
          <thead>
            <tr>
              <th>Data do fechamento</th>
              <th>Investimento em receitas</th>
              <th>custo no estabelecimento</th>
              <th>faturamento</th>
              <th>saldo do dia</th>
            </tr>

          </thead>
          <tbody>
            <tr v-for="item in lista">
              <td>{{dataBeauty(item.dataFechamento)}} </td>
              <td>{{item.custoReceitaTotal.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</td>
              <td>{{item.custoEstabelecimento.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}} </td>
              <td>{{item.totalCaixa.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</td>
              <td>
                <span class="text-success" v-if="item.saldo > 0"><b>{{item.saldo.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</b></span>
                <span class="text-danger" v-else><b>{{item.saldo.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</b></span>

              </td>
            </tr>

          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th>total</th>
              <th>
                <span class="text-success" v-if="saldoTotal > 0"><b>{{saldoTotal.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</b></span>
                <span class="text-danger" v-else><b>{{saldoTotal.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</b></span>

              </th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  import _caixa from "../../services/caixa";

  export default {
    components: {},
    data() {
      return {
        loading: false,
        lista: [],
        dateFim: new Date(),
        dateInicio: new Date(),
        options: {
          format: "DD/MM/YYYY",
          useCurrent: true,
          locale: "pt-br"
        },
        saldoTotal: 0,
        errorData: "",
      };
    },
    computed: {},
    mounted() {
      this.buscar();
    },
    methods: {
      dataBeauty(dataModel) {
        var data = new Date(dataModel),
          dia = data.getDate().toString(),
          diaF = dia.length == 1 ? "0" + dia : dia,
          mes = (data.getMonth() + 1).toString(), //+1 pois no getMonth Janeiro começa com zero.
          mesF = mes.length == 1 ? "0" + mes : mes,
          anoF = data.getFullYear();
        return diaF + "/" + mesF + "/" + anoF;
      },

      dataUgly(dataModel) {
        if (dataModel instanceof Date) {
          dataModel = this.dataBeauty(dataModel);
        }

        var model = dataModel.split("/");
        var dia = 0;
        var mes = 1;
        var ano = 2;

        return model[mes] + "-" + model[dia] + "-" + model[ano];
      },

      buscarPorData() {
        this.loading = true;

        var inicio = new Date(this.dataUgly(this.dateInicio));
        var fim = new Date(this.dataUgly(this.dateFim));

        _caixa.buscarPorData(inicio, fim).then(
          response => {
            this.loading = false;

            this.lista = response.body.listaCaixas;
            this.saldoTotal = response.body.totalSaldo;
          },
          response => {
            if (response.body.message)
              this.errorData = response.body.message;
            else
              this.$toasted.error("Não foi possivel buscar o caixa!").goAway(3000);

            this.loading = false;
          }
        );
      },

      buscar() {
        this.loading = true;
        this.errorData = "";
        this.dateFim = new Date();
        this.dateInicio = new Date();


        _caixa.buscar().then(
          response => {
            this.loading = false;

            this.lista = response.body.listaCaixas;
            this.saldoTotal = response.body.totalSaldo;
          },
          response => {
            this.$toasted.error("Não foi possivel buscar o caixa!").goAway(3000);
            this.loading = false;
          }
        );
      }
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
