<template>
  <div>
    <div class="row" v-if="loading">
      <div class="col text-center">
        <span><div class="loader"></div></span>
      </div>
    </div>

    <div v-else class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="em em-doughnut"></i> Custos com receitas</h5>
        <small>Total</small>
        <h6>{{receita.custoTotal.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</h6>

      </div>
    </div>
  </div>
</template>

<script>
  import _receita from "../../services/receitas";

  export default {
    components: {

    },
    data() {
      return {
        loading: false,
        receita: {
          custoTotal: '',
          valorUltimaMeta: '',
          listaReceitasMeta: [],
        },
      };
    },
    mounted() {
      this.buscar();

    },
    methods: {
      buscar() {
        this.loading = true;
        _receita.resumoReceita().then(
          response => {
            this.loading = false;

            this.receita = response.body;
          },
          response => {
            this.$toasted
              .error("Não foi possivel buscar as receitas!")
              .goAway(3000);
            this.loading = false;
          }
        );
      },

    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
